@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Noto+Serif:wght@400;700&display=swap');


@font-face {
    font-family: 'Effloresce';
    src: url('fonts/Effloresce-Italic.woff2') format('woff2'),
        url('fonts/Effloresce-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Effloresce';
    src: url('fonts/Effloresce-Regular.woff2') format('woff2'),
        url('fonts/Effloresce-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Effloresce';
    src: url('fonts/Effloresce-Bold.woff2') format('woff2'),
        url('fonts/Effloresce-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Effloresce';
    src: url('fonts/Effloresce-BoldItalic.woff2') format('woff2'),
        url('fonts/Effloresce-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/* General styles */

body {
    color: #000;
    font-family: 'Noto Serif', serif;
    font-weight: 400;
}

main {
    margin-bottom: 120px;
}

header {
    background: #022832;
}

#admin-menu {
    background: #02283233;
}

h1, nav {
    font-family: 'Effloresce', serif;
    font-weight: bold; 
}

h2, h3, h4 {
    color: #022832;
    font-family: 'Effloresce', serif;
    font-weight: bold;
}

#hero-image-container {
    padding: 0;
    position: relative;
}

/* Fade-in effect from: https://blog.hubspot.com/website/css-fade-in */

.primary-image {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#strapline-container {
    background: rgb(249, 249, 250, 0.5);
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#strapline-text {
    color: #022832;
    font-family: 'Dancing Script', sans-serif;
}

.bio, .about, .lineup-bio-text {
    white-space: pre-line;
}

.hidden {
    display: none;
}

.accordion {
    --bs-accordion-btn-bg: #fff;
    --bs-accordion-active-bg: #fff;
    --bs-accordion-active-color: #000;
    --bs-accordion-btn-focus-box-shadow: none;
}

.btn-dark {
    --bs-btn-color: #F9F9FA;
    --bs-btn-bg: #022832;
    --bs-btn-hover-bg: #022832DD;
    --bs-btn-hover-border-color: #022832;
    --bs-btn-active-color: #F9F9FA;
    --bs-btn-active-bg: #022832DD;
    --bs-btn-active-border-color: #022832;
}

.card-body {
    background: #022832;
    color: #F9F9FA;
}

.artist-bio {
    background: #F9F9FA;
    
}

.artist-bio .card-body {
    background: transparent;
    color: #022832;
}

.card-img-top {
    border-bottom: 3px solid #F9F9FA;
}

/* Flip animation for artist cards */

.flip-card {
    perspective: 1000px;
  }
  
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 1%;
}

.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front {
  background-color: transparent;
  position: relative;
}

.flip-card-back {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  overflow: auto;
}