{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div id="banner" class="border border-3 p-3 my-5">
            <h2>403 Forbidden</h2>
            <p class="mt-3">Sorry, this area is for crew only! Please select an item from the navigation menu above.</p>
        </div>
    </div>
</div>

<div id="403-image-container" class="primary-image-container">
    <img src="{{ url_for('static', filename='images/403.jpg') }}"
        alt="Person with hand up to camera indicating no access"
        class="img-fluid primary-image w-100" id="403-image">
</div>

{% endblock %}
