{% extends "base.html" %}

{% block content %}

<h2 class="my-3 text-center">Add artist</h2>

<form method="POST" action="{{ url_for('add_artist') }}" enctype="multipart/form-data" class="w-75 mx-auto">
    <fieldset>
        <legend>Artist information</legend>
        <div class="mb-3">
            <label for="artist_name" class="form-label"><i class="bi bi-alphabet" aria-hidden="true"></i> Name</label>
            <input type="text" minlength="1" class="validate form-control" id="artist_name" name="artist_name" required>
        </div>
        <div class="mb-3">
            <label for="artist_bio" class="form-label"><i class="bi bi-blockquote-left" aria-hidden="true"></i> Biography<br></label>
            <textarea minlength="10" maxlength="3000" rows="15" class="validate form-control" id="artist_bio" name="artist_bio"></textarea>
        </div>
        <div class="mb-3">
            <label for="artist_url" class="form-label"><i class="bi bi-link-45deg" aria-hidden="true"></i> Website<br></label>
            <input type="url" minlength="5" maxlength="200" class="validate form-control" id="artist_url" name="artist_url">
        </div>
        <div class="mb-3">
            <label for="artist_img" class="form-label"><i class="bi bi-image" aria-hidden="true"></i> Image<br></label>
            <input
            type="file"
            class="form-control"
            id="artist_img"
            name="artist_img"
            accept="image/*"
            >
        </div>
    </fieldset>
    <fieldset class="mt-3">
    <legend>Shows</legend>
        <div class="row">
            <div class="col-12 col-sm-3 p-3 border ms-3">
                <span class="fs-5">Show 1</span>
                <div>
                    <label for="show1_stage" class="form-label"><i class="bi bi-mic" aria-hidden="true"></i> Stage<br></label>
                    <select class="validate form-control form-select" id="show1_stage" name="show1_stage">
                        <option value="" selected>Select</option>
                        {% for stage in stages %}
                        <option value="{{ stage }}">{{ stage }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                        <label for="show1_start" class="form-label"><i class="bi bi-calendar-event" aria-hidden="true"></i> Date and time<br></label>
                        <input id="show1_start" name="show1_start" class="validate form-control showtime">
                </div>
                <div class="mb-3">
                    <label for="show1_duration" class="form-label"><i class="bi bi-hourglass-split" aria-hidden="true"></i> Duration<br></label>
                    <input type="number" min="5" max="120" step="5" class="validate form-control w-50" id="show1_duration" name="show1_duration">
                </div>
            </div>
            <div class="col-12 col-sm-3 p-3 border ms-3">
                <span class="fs-5">Show 2</span>
                <div>
                    <label for="show2_stage" class="form-label"><i class="bi bi-mic" aria-hidden="true"></i> Stage<br></label>
                    <select class="validate form-control form-select" id="show2_stage" name="show2_stage">
                        <option value="" selected>Select</option>
                        {% for stage in stages %}
                        <option value="{{ stage }}">{{ stage }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                            <label for="show2_start" class="form-label"><i class="bi bi-calendar-event" aria-hidden="true"></i> Date and time<br></label>
                            <input id="show2_start" name="show2_start" class="validate form-control showtime">
                    </div>
                    <div class="mb-3">
                        <label for="show2_duration" class="form-label"><i class="bi bi-hourglass-split" aria-hidden="true"></i> Duration<br></label>
                        <input type="number" min="5" max="120" step="5" class="validate form-control w-50" id="show2_duration" name="show2_duration">
                    </div>
            </div>
            <div class="col-12 col-sm-3 p-3 border ms-3">
                <span class="fs-5">Show 3</span>
                <div>
                    <label for="show3_stage" class="form-label"><i class="bi bi-mic" aria-hidden="true"></i> Stage<br></label>
                    <select class="validate form-control form-select" id="show3_stage" name="show3_stage">
                        <option value="" selected>Select</option>
                        {% for stage in stages %}
                        <option value="{{ stage }}">{{ stage }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="show3_start" class="form-label"><i class="bi bi-calendar-event" aria-hidden="true"></i> Date and time<br></label>
                    <input id="show3_start" name="show3_start" class="validate form-control showtime">
                </div>
                <div class="mb-3">
                    <label for="show3_duration" class="form-label"><i class="bi bi-hourglass-split" aria-hidden="true"></i> Duration<br></label>
                    <input type="number" min="5" max="120" step="5" class="validate form-control w-50" id="show3_duration" name="show3_duration">
                </div>
            </div>
        </div>
        <div class="col-12 my-3">
            <button type="submit" class="btn btn-dark"><i class="bi bi-plus-circle-fill" aria-hidden="true"></i> Add</button>
        </div>
    </fieldset>
</form>

{% endblock %}