{% extends "base.html" %}

{% block content %}

<div class="card mt-5 mx-auto" style="width: 24rem;">
    <div class="card-header bg-white">
        Please enter your username and password
    </div>
    <div class="card-body bg-white text-dark">
        <form method="POST" action="{{ url_for('admin') }}">
            <div class="mb-3">
              <label for="username" class="form-label"><i class="bi bi-person" aria-hidden="true"></i> Username</label>
              <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label"><i class="bi bi-key" aria-hidden="true"></i> Password</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="mt-3 text-center">
                <button type="submit" class="btn btn-dark">Submit</button>
            </div>
        </form>
    </div>

    <div>
        <p class="text-center"><strong>Forgotten your username or password?</strong><br>
            Please <a href="mailto:webmaster@folkonthelawn.com" class="link-dark">contact webmaster</a>.</p>
    </div>

</div>

{% endblock %}