{% extends "base.html" %}

{% block subheader %}
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
            <span class="navbar-brand">Admin menu</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ms-auto" id="navbarToggler">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% if is_superuser == "on" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('register') }}"><i class="bi bi-person-add" aria-hidden="true"></i> Register admins</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}"><i class="bi bi-box-arrow-right" aria-hidden="true"></i> Log out</a>
                    </li>
                </ul>            
            </div>
    </div>
</nav>
{% endblock %}

{% block content %}
         
<div class="row mt-5">
    <div class="col-4">
        <h2>Artist index</h2>

        {% for artist in artists %}

        <a href="#{{ artist.artist_name }}" class="link-dark">{{ artist.artist_name }}</a><br>

        {% endfor %}

        <div class="add-artist mt-3">
            <a href="{{ url_for('add_artist') }}" class="btn btn-primary btn-lg"><i class="bi bi-plus-circle-fill"
                    aria-hidden="true"></i> Add artist</a>
        </div>

    </div>

    <div class="col-8">
        <h2>Biographies</h2>

        {% for artist in artists %}

        <div id="{{ artist.artist_name }}" class="card my-5 w-75">
            <img src="{{ artist.artist_img }}" alt="{{ artist.artist_name }}" class="card-img-top">
            <div class="card-body">
                <h3 class="card-title">{{ artist.artist_name }}</h3>
                <p class="bio">
                    <strong>Biography:</strong><br>
                    {{ artist.artist_bio }}</p>
                <p class="artist-url">
                    <strong>Website:</strong><br>
                    {{ artist.artist_url }}</p>
                
                <!-- Show appearances if they exist-->
                {% if artist.show1_stage != "Select" %}
                    <p class="artist-shows">
                        <strong>Appearing:</strong><p>
                        <ul>
                            <li>{{ artist.show1_start.strftime('%A %-d %B at %-I.%M%p') }} on the {{ artist.show1_stage|capitalize }} stage</li>
                            {% if artist.show2_stage != "Select" %}
                            <li>{{ artist.show2_start.strftime('%A %-d %B at %-I.%M%p') }} on the {{ artist.show2_stage|capitalize }} stage</li>
                            {% endif %}
                            {% if artist.show3_stage != "Select" %}
                            <li>{{ artist.show3_start.strftime('%A %-d %B at %-I.%M%p') }} on the {{ artist.show3_stage|capitalize }} stage</li>>
                            {% endif %}
                        </ul>
                {% endif %}
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-confirm"
                    data-bs-url="{{ url_for('delete_artist', artist_id=artist._id) }}"><i
                        class="bi bi-x-circle-fill" aria-hidden="true"></i> Delete</button>
                <a href="{{ url_for('edit_artist', artist_id=artist._id) }}" class="btn btn-warning"><i
                        class="bi bi-pencil-fill" aria-hidden="true"></i> Edit</a>
                <p class="text-muted mt-1">Last edited by {{ artist.last_edit_by }} on {{ artist.last_edit_on }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}