{% extends "base.html" %}

{% block content %}

<h2 class="my-3 text-center">Edit artist</h2>

<form method="POST" action="{{ url_for('edit_artist', artist_id = artist._id) }}" enctype="multipart/form-data" class="w-75 mx-auto">
    <fieldset>
        <legend>Artist information</legend>
        <div class="mb-3">
            <label for="artist_name" class="form-label"><i class="bi bi-alphabet" aria-hidden="true"></i> Name</label>
            <input type="text" minlength="1" value="{{ artist.artist_name }}" class="validate form-control" id="artist_name" name="artist_name" required>
        </div>
        <div class="mb-3">
            <label for="artist_bio" class="form-label"><i class="bi bi-blockquote-left" aria-hidden="true"></i> Biography<br></label>
            <textarea minlength="10" maxlength="3000" rows="15" class="validate form-control" id="artist_bio" name="artist_bio">
                {{- artist.artist_bio -}}
            </textarea>
        </div>
        <div class="mb-3">
            <label for="artist_url" class="form-label"><i class="bi bi-link-45deg" aria-hidden="true"></i> Website<br></label>
            <input type="url" minlength="5" maxlength="200" value="{{ artist.artist_url }}" class="validate form-control" id="artist_url" name="artist_url">
        </div>
        <div class="mb-3">
            <label for="artist_img" class="form-label"><i class="bi bi-image" aria-hidden="true"></i> Image<br></label>
            <input
            type="file"
            class="form-control"
            id="artist_img"
            name="artist_img"
            accept="image/*"
            > 
        </div>
        {% if artist.artist_img != "" %}
            <div class="mb-3">
                <p>Current image:</p>
                <img src="{{ cloudinary_url }}{{ artist.artist_img }}" alt="{{ artist.artist_name }}" class="w-50">
            </div>
        {% endif %}
                
    </fieldset>
    <fieldset class="mt-3">
    <legend>Shows</legend>
        <div class="row">
            <div class="col-12 col-sm-3 p-3 border">
                <span class="fs-5">Show 1</span>
                <div>
                    <label for="show1_stage" class="form-label"><i class="bi bi-mic" aria-hidden="true"></i> Stage<br></label>
                    <select class="validate form-control form-select" id="show1_stage" name="show1_stage">
                        
                        {% if artist.show1_stage == "" %}
                            <option value="" selected>Select</option>
                        {% else %}
                            <option value="">Select</option>
                        {% endif %}

                        {% for stage in stages %}
                            {% if artist.show1_stage == stage %}
                                <option value="{{ stage }}" selected>{{ stage }}</option>
                            {% else %}
                                <option value="{{ stage }}">{{ stage }}</option>
                            {% endif %}                            
                        {% endfor %}
                        
                    </select>
                </div>
                <div class="mb-3">
                    <label for="show1_start" class="form-label"><i class="bi bi-calendar-event" aria-hidden="true"></i> Date and time<br></label>
                    {% if artist.show1_start.year != 1900 %}
                        <input id="show1_start" name="show1_start" value="{{ artist.show1_start.strftime('%d-%m-%Y %H:%M') }}" class="validate form-control showtime">
                    {% else %}
                        <input id="show1_start" name="show1_start" class="validate form-control showtime">
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="show1_duration" class="form-label"><i class="bi bi-hourglass-split" aria-hidden="true"></i> Duration<br></label>
                    {% if artist.show1_duration != "" %}
                        <input type="number" min="5" max="120" step="5" value="{{ artist.show1_duration }}" class="validate form-control w-50" id="show1_duration" name="show1_duration">
                    {% else %}
                        <input type="number" min="5" max="120" step="5"  class="validate form-control w-50" id="show1_duration" name="show1_duration">
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-sm-3 p-3 border ms-3">
                <span class="fs-5">Show 2</span>
                <div class>
                    <label for="show2_stage" class="form-label"><i class="bi bi-mic" aria-hidden="true"></i> Stage<br></label>
                    <select class="validate form-control form-select" id="show2_stage" name="show2_stage">
                        
                        {% if artist.show2_stage == "" %}
                            <option value="" selected>Select</option>
                        {% else %}
                            <option value="">Select</option>
                        {% endif %}

                        {% for stage in stages %}
                            {% if artist.show2_stage == stage %}
                                <option value="{{ stage }}" selected>{{ stage|capitalize }}</option>
                            {% else %}
                                <option value="{{ stage }}">{{ stage|capitalize }}</option>
                            {% endif %}                            
                        {% endfor %}
                    
                    </select>
                </div>
                <div class="mb-3">
                    <label for="show2_start" class="form-label"><i class="bi bi-calendar-event" aria-hidden="true"></i> Date and time<br></label>
                    {% if artist.show2_start.year != 1900 %}
                        <input id="show2_start" name="show2_start" value="{{ artist.show2_start.strftime('%d-%m-%Y %H:%M') }}" class="validate form-control showtime">
                    {% else %}
                        <input id="show2_start" name="show2_start" class="validate form-control showtime">
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="show2_duration" class="form-label"><i class="bi bi-hourglass-split" aria-hidden="true"></i> Duration<br></label>
                    {% if artist.show2_duration != "" %}
                        <input type="number" min="5" max="120" step="5" value="{{ artist.show2_duration }}" class="validate form-control w-50" id="show2_duration" name="show2_duration">
                    {% else %}
                        <input type="number" min="5" max="120" step="5"  class="validate form-control w-50" id="show2_duration" name="show2_duration">
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-sm-3 p-3 border ms-3">
                <span class="fs-5">Show 3</span>
                <div>
                    <label for="show3_stage" class="form-label"><i class="bi bi-mic" aria-hidden="true"></i> Stage<br></label>
                    <select class="validate form-control form-select" id="show3_stage" name="show3_stage">
                        
                        {% if artist.show3_stage == "" %}
                            <option value="" selected>Select</option>
                        {% else %}
                            <option value="">Select</option>
                        {% endif %}

                        {% for stage in stages %}
                            {% if artist.show3_stage == stage %}
                                <option value="{{ stage }}" selected>{{ stage|capitalize }}</option>
                            {% else %}
                                <option value="{{ stage }}">{{ stage|capitalize }}</option>
                            {% endif %}                            
                        {% endfor %}
                        
                    </select>
                </div>
                <div class="mb-3">
                    <label for="show3_start" class="form-label"><i class="bi bi-calendar-event" aria-hidden="true"></i> Date and time<br></label>
                    {% if artist.show3_start.year != 1900 %}
                        <input id="show3_start" name="show3_start" value="{{ artist.show3_start.strftime('%d-%m-%Y %H:%M') }}" class="validate form-control showtime">
                    {% else %}
                        <input id="show3_start" name="show3_start" class="validate form-control showtime">
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="show3_duration" class="form-label"><i class="bi bi-hourglass-split" aria-hidden="true"></i> Duration<br></label>
                    {% if artist.show3_duration != "" %}
                        <input type="number" min="5" max="120" step="5" value="{{ artist.show3_duration }}" class="validate form-control w-50" id="show3_duration" name="show3_duration">
                    {% else %}
                        <input type="number" min="5" max="120" step="5"  class="validate form-control w-50" id="show3_duration" name="show3_duration">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-12 my-3">
            <button type="submit" class="btn btn-dark"><i class="bi bi-floppy" aria-hidden="true"></i> Save changes</button>
        </div>
    </fieldset>
</form>

{% endblock %}