{% extends "base.html" %}

{% block content %}

<h2 class="my-3 text-center">Event info</h2>

<form method="POST" action="{{ url_for('event') }}" class="w-75 mx-auto">
    <div class="mb-3">
        <label for="event_name" class="form-label"><i class="bi bi-alphabet" aria-hidden="true"></i> Name</label>
        <input type="text" minlength="1" class="validate form-control" id="event_name" name="event_name" required>
    </div>
    <div class="mb-3">
        <label for="event_about" class="form-label"><i class="bi bi-blockquote-left" aria-hidden="true"></i> About<br></label>
        <textarea minlength="10" maxlength="5000" rows="15" class="validate form-control" id="event_about" name="event_about"></textarea>
    </div>
    <div class="mb-3">
        <label for="event_img" class="form-label"><i class="bi bi-image" aria-hidden="true"></i> Image<br></label>
        <input type="url" minlength="5" maxlength="200" class="validate form-control" id="event_img" name="event_img">
    </div>
    <div class="mb-3">
        <label for="event_location" class="form-label"><i class="bi bi-geo-alt" aria-hidden="true"></i> Location<br></label>
        <input type="text" minlength="5" maxlength="200" class="validate form-control" id="event_location" name="event_location">
    </div>
    <div class="mb-3">
        <label for="event_start" class="form-label"><i class="bi bi-calendar-check" aria-hidden="true"></i> Start date<br></label>
        <input id="event_start" name="event_start" class="validate form-control event-date">
    </div>
    <div class="mb-3">
        <label for="event_end" class="form-label"><i class="bi bi-calendar-x" aria-hidden="true"></i> End date<br></label>
        <input id="event_end" name="event_end" class="validate form-control event-date">
    </div>
    <div class="col-12 my-3">
        <button type="submit" class="btn btn-primary"><i class="bi bi-floppy" aria-hidden="true"></i> Save changes</button>
    </div>
</form>

{% endblock %}