{% extends "base.html" %}
{% block content %}

<div id="hero-image-container" class="container">
    <img src="{{ key_info.event_img }}"
        alt="Colourful numbered tin cans arranged in pyramid with building in background"
        class="img-fluid primary-image" id="hero-image">
</div>

<div class="about"></div>
    <h2 class="mt-2">About</h2>
    <p>Folk on the Lawn (FotL) is a volunteer-run festival which runs every 
        year at the Abbey Mill, Tintern.</p>
    <p>With no budget whatsoever, FotL relies on the good will of those 
        involved - the artists, sound technicians, Abbey Mill staff, the good 
        folk of Tintern and various other benefactors and supporters.
    <p>Despite its modest size, FotL has featured a number of international 
        artists and signed bands, in addition to the more local talent that 
        has graced its stages. Folks continue to commit to FotL due to the 
        beauty of the setting, the atmosphere of the event (very relaxed!) 
        and the magnanimous hosting of the Abbey Mill management and staff.</p>
    <p>We encourage rootsy, homespun, innovative and brave music, with a strong 
        folk/roots/acoustic thread running through the whole festival. We would 
        see the festival as the antithesis of and remedy for the X Factor, 
        'tired folk' sort-of-thing</p>
</div>

{% endblock %}