{% extends "base.html" %}
{% block content %}

<div class="container">
  <h2 class="mt-3">Schedule</h2>

  <div class="accordion accordion-flush my-3" id="schedule">
      {% for date in dates %}
      
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading-{{ date.strftime('%A') }}">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ date.strftime('%A') }}" aria-expanded="true" aria-controls="collapseOne">
            {{ date.strftime('%A') }}
          </button>
        </h2>
        <div id="{{ date.strftime('%A') }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ date.strftime('%A') }}" data-bs-parent="#schedule">
          <div class="accordion-body">
            Schedule for <strong>{{ date.strftime('%A') }}</strong>
          </div>
        </div>
      </div>

      {% endfor %}
  </div>

<div class="container" id="lineup-bios">

    <h2>Artist information</h2>

    <div class="row">
        {% for artist in artists %}
            <div id="{{ artist.artist_name }}" class="col-4">
            <div class="card my-3">
                <img src="{{ cloudinary_url }}{{ artist.artist_img }}" alt="{{ artist.artist_name }}" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title">{{ artist.artist_name }}</h3>
                    <button class="bio-toggle btn btn-dark my-2">Biography<i class="bi bi-caret-down-fill ms-2"></i></button>
                    <div class= "lineup-bio hidden my-2">    
                        <p class="lineup-bio-text">{{ artist.artist_bio }}</p>
                    </div>
                </div>
                <div class="card-footer">
                    <!-- Show website if it exists-->
                    {% if artist.artist_url != "" %}
                        <p class="lineup-url">
                            <strong>Elsewhere on the web:</strong><br>
                            <a href="{{ artist.artist_url }}" class="lineup-url text-dark" target="_blank">{{ artist.artist_name }}</a>
                    {% endif %}
                    <!-- Show appearances if they exist-->
                    {% if artist.show1_stage != "" %}
                        <p class="lineup-shows">
                            <strong>Appearing:</strong><br>
                            {{ artist.show1_start.strftime('%A %-d %B') }} at {{ artist.show1_start.strftime('%-I.%M%p')|lower }} on the {{ artist.show1_stage|capitalize }} stage<br>
                            {% if artist.show2_stage != "" %}
                                <br>{{ artist.show2_start.strftime('%A %-d %B') }} at {{ artist.show2_start.strftime('%-I.%M%p')|lower }} on the {{ artist.show2_stage|capitalize }} stage<br>
                            {% endif %}
                            {% if artist.show3_stage != "" %}
                                <br>{{ artist.show3_start.strftime('%A %-d %B') }} at {{ artist.show3_start.strftime('%-I.%M%p')|lower }} on the {{ artist.show3_stage|capitalize }} stage<br>
                            {% endif %}
                        </p>
                    {% endif %}    
                </div>
            </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}